<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4 class="my-2">Editing an user</h4>
      <form action="<%= userUpdatedUrl%>/<%= user.id%>" method="post">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="EmailFor">Email</label>
            <input
              value="<%= user.email%>"
              name="email"
              type="email"
              class="form-control"
              id="EmailFor"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="FirstnameFor">Firstname</label>
            <input
              value="<%= user.firstName%>"
              name="firstname"
              type="text"
              class="form-control"
              id="FirstnameFor"
              placeholder="Firstname"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="LastnameFor">Lastname</label>
            <input
              value="<%= user.lastName%>"
              name="lastname"
              type="text"
              class="form-control"
              id="LastnameFor"
              placeholder="Lastname"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="addressFor">Address</label>
          <input
            value="<%= user.address%>"
            name="address"
            type="text"
            class="form-control"
            id="addressFor"
            placeholder="Address"
          />
        </div>
        <div class="text-right">
          <a type="button" class="btn btn-danger" href="<%=userListedUrl%>">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>
